.bakalavriat,
.magistrant,
.doctorant {
    display: none;
}

.bakalavriat.active,
.magistrant.active,
.doctorant.active {
    display: block;
}

.person-card {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 30px;
    padding: 20px;
    border-top: 1px solid #eee;
    margin-top: 20px;
}

.general-rules-pdf {
    display: none;
}

.general-rules-pdf.active {
    display: block;
}

.result-profession-bakalavr,
.result-profession-college {
    display: flex;
    flex-direction: column;
}

.result-profession-bakalavr,
.result-profession-bakalavr strong,
.result-profession-college,
.result-profession-college strong {
    color: white;
}

.result-title-ent,
.result-title-specialization,
.result-title-college {
    display: none;

}

.result-title-ent.active,
.result-title-specialization.active,
.result-title-college.active {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 50px;
}

.result-title-ent p,
.result-title-specialization p,
.result-title-college p {
    font-size: var(--font-18);
    font-weight: var(--font-700);
}

.result-title-ent p,
.result-title-specialization p,
.result-title-college p,
.result-profession-bakalavr p,
.result-profession-college p {
    text-align: center;
    text-align: center;
    border-top: 1px solid white;
    margin: 0;
    color: white;
    padding: 20px;
}

#view,
#viewSpecialization {
    background: var(--indigoblue);
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    color: white;
    width: 100%;
}

.form-full-time,
.form-short-time {
    display: none;
}

.form-full-time.active,
.form-short-time.active {
    display: block;
}

#search-profession-college {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-block-end: 20px;
}

.form-short-time p {
    color: white;
    padding-block: 20px;
}

.popular-list {
    color: white;
    list-style-type: decimal;
    /* Отображает числа */
    margin-left: 20px;
    padding-left: 20px;
}

.select-form-by-specialization,
.form-search-by-ent,
.form-search-by-specialization,
.form-search-by-college {
    display: none;
}

.select-form-by-specialization.active,
.form-search-by-ent.active,
.form-search-by-specialization.active,
.form-search-by-college.active {
    display: block;
}

.title-form {
    color: white;
    font-weight: var(--font-700);
    text-align: center;
    font-size: var(--font-22);
}
@media (max-width: 768px) {
    .person-card {
        flex-direction: column;
        align-items: center;
    }
}