.bakalavriat,
.magistrant,
.doctorant {
    display: none;
}

.bakalavriat.active,
.magistrant.active,
.doctorant.active {
    display: block;
}

.general-rules-pdf {
    display: none;
}

.general-rules-pdf.active {
    display: block;
}

.result-profession-bakalavr,
.result-profession-college {
    display: flex;
    flex-direction: column;
}

.result-profession-bakalavr,
.result-profession-bakalavr strong,
.result-profession-college,
.result-profession-college strong {
    color: white;
}

.title {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 50px;
}

.title p {
    font-size: var(--font-18);
    font-weight: var(--font-700);
}

.title p,
.result-profession-bakalavr p,
.result-profession-college p {
    text-align: center;
    text-align: center;
    border-top: 1px solid white;
    margin: 0;
    color: white;
    padding: 20px;
}

#view {
    background: var(--indigoblue);
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    color: white;
    width: 100%;
}

.form-full-time,
.form-short-time {
    display: none;
}

.form-full-time.active,
.form-short-time.active {
    display: block;
}

#search-profession-college {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.form-short-time p {
    color: white;
    padding-block: 20px;
}

.popular-list {
    color: white;
    list-style-type: decimal;
    /* Отображает числа */
    margin-left: 20px;
    padding-left: 20px;
}