.document.active,
.files.active,
.language_input.active{
    display: flex;
    flex-direction: column;
}
.document,
.files,
.language_input{
    display: none ;
}
.general-rules-pdf{
    display: none;
}
.general-rules-pdf.active{
    display: block;
}