.button_collapse span {
    font-size: 20px;
    font-weight: bold;
    color: var(--indigoblue-font);
}

.button_collapse {
    background: #fff;
    border-radius: 10px;
    border: 1px solid var(--indigoblue-font);
}

.button_collapse:hover {
    background: var(--indigoblue-font);
    border-radius: 10px;
    border: 1px solid var(--indigoblue-font);
}

.button_collapse:hover span {
    color: white;

}

.cards {
    width: 300px;
    margin: 50px auto;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.avatar-container {
    position: relative;
    display: inline-block;
}

.avatar-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    border: 6px solid #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    /* обрезка */
}

.avatar-img {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    z-index: 2;
    filter: drop-shadow(0 8px 15px rgba(0, 0, 0, 0.3));
}

.card-title {
    margin-top: 40px;
    font-weight: bold;
    color: #1d3557;
    font-size: 20px;
}

.card-text {
    color: #555;
    font-size: 16px;
}

.overly-resume {
    display: none;
}

.overly-resume.active {
    display: block;

}