.lang-link {
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
    padding: 10px;
    border: 1px solid var(--white);
    border-radius: 10px;
    margin-inline: 10px;
    position: relative;
    z-index: 10001;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.lang-switcher {
    background: var(--indigoblue-50);
    padding: 10px;
    border-radius: 20px;
}

.dropdown-toggle-header {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}