@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  /* Определение переменной шрифта */

  --second-family: 'IBM Plex Mono', monospace;  

  /* Цвета */
  --darkblue: var(--darkblue);
  --indigoblue:#405e89;
  --sand:#c0a282;
  --white: #fff;
  --transparent-white-50: rgba(255, 255, 255, 0.466);
  --gray: #999;
  --yellow: #c55;

  /* Шрифты */
  --font-main: 'Roboto', sans-serif;
  --font-heading: 'Montserrat', sans-serif;

  /* Размеры */
  --font-14: 14px;
  --font-16: 16px;
  --font-18: 18px;
  --font-22: 22px;
  --font-24: 24px;
  --font-26: 26px;
  --font-28: 28px;
  --font-32: 32px;
  --font-36: 36px;
  --font-38: 38px;
  --font-96: 96px;




  /* Веса */
  --font-300: 300;
  --font-400: 400;
  --font-700: 700;
}

/* @media (max-width: 768px) {
  :root {
    --font-14: 12px;
    --font-16: 14px;
    --font-18: 16px;
    --font-22: 18px;
    --font-28: 20px;
    --font-700: 600;
  }
   */
 @media (max-width: 1200px) {
  :root {
  --font-96: 86px;

  }
}
@media (max-width: 768px) {
  :root {
    --font-14: 10px;
    --font-16: 12px;
    --font-18: 13px;
    --font-22: 14px;
    --font-28: 20px;
    --font-28: 22px;
    --font-36: 30px;
    --font-38: 32px;
    --font-96: 76px;

    --font-700: 600;
  }
  @media (max-width: 568px) {
  :root {
    --font-14: 8px;
    --font-16: 10px;
    --font-18: 11px;
    --font-22: 13px;
    --font-28: 16px;
    --font-36: 20px;
    --font-96: 56px;

    --font-700: 600;
  }
}
}
/* ========== CAROUSEL CONTAINERS ========== */
.carousel-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block:10%;
  position: relative;
  z-index: 9999;
  width: 100vw;

}
.carousel{
  position: relative;
  height: 500px;
  width: 80%;
}
.carousel .list .item{
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;

}
.carousel .list .item .content{
  position: absolute;
  top: 20%;
  left: 50%;
  width: 1140px;
  max-width: 60%;
  transform: translateX(-70%);
  padding-right: 10%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #000400;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.carousel .list .item .content .title{
font-weight: 600; /* bold иногда слишком жирный, 600 — оптимально выразительно */
font-size: 2em;  /* немного крупнее для акцента */
letter-spacing: 2px; /* 10px слишком разрежено, 2px добавит стиль, но сохранит читаемость */
  font-family: sans-serif, sans-serif; /* с fallback для стабильности */
text-transform: uppercase; /* придаёт силу и стиль (по желанию) */
line-height: 1.3; /* добавляет немного воздуха вокруг строки */

}
.carousel .list .item .content .description{
  font-weight: 300; /* чуть толще, для лучшей читаемости */
  font-size: 1em; /* немного больше — выразительнее, но не громоздко */
  letter-spacing: 2px; /* 10px слишком большое расстояние, делает текст разреженным */
    font-family: sans-serif, sans-serif; /* добавлен fallback для кроссбраузерности */
  line-height: 1.6; 
}

/* ========== THUMBNAIL CONTAINERS ========== */
.carousel .thumbnail{
  position: absolute;
  max-width: max-content;
  bottom:-20%;
  left:30%;
  filter:blur(0px);
  display:flex;
  gap:20px;
  z-index: 100;
  /* animation: showThumbnail 0.5s linear 1 forwards; */
}
/* @keyframes showThumbnail{
  to{
    left:50%;
    filter:blur(0);
    }
} */

.carousel .thumbnail .item{
  width: 200px;
  height: 300px;
  position: relative;
  flex-shrink: 0;
}
.carousel .thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.carousel .thumbnail .item .content{
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}
.arrows{
  position: absolute;
  bottom:50px;
  left: 50%;
  width: 1140px;
  max-width: 60%;
  transform: translateX(-70%);
  padding-right: 50%;
  display: flex;
  gap:20px;
  z-index:3;
  }
.arrows button{
  border: 1px #fff solid;
  background: transparent; 
  color:var(--white);
  width: 50px;
  height: 50px;
  border-radius:100%;
  font-weight: bold;
  font-size: large;
  font-family: monospace;

}
.carousel .thumbnail .item .content .title ,
.carousel .thumbnail .item .content .description
{
  color: #fff;
}
.carousel .list .item .content .tel {
  display: flex;
  gap: 20px;
  align-items: center;
}
.carousel .list .item .content .tel .svg{
 background: transparent;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #fff solid;
}
.carousel .list .item .content .tel  span{
  background: transparent;
  padding: 10px;
  border-radius: 50px;
  padding-inline: 20px;
  border: 1px #fff solid;
}
.carousel .list .item .content .button{
  width: 150px;
  border: 1px #fff solid;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
}
.carousel .thumbnail .item .overly{
  height: 100%;
  width: 100%;
  position: absolute;
  bottom:0;
  background: linear-gradient(to top , rgba(15, 33, 71, 0.73) 0%, rgba(7, 35, 72, 0.73) 40%, rgba(0, 0, 0, 0) 100%);
  border-radius:  20px;
  z-index: 1;
}

.carousel .list .item:nth-last-child(1){
  z-index:1;
}
/* .dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap:20px;
} 
.dropdown-item {
    color: white;
    font-size: 24px;
    text-align: start;
    padding: 20px;
}

.dropdown-item:hover {
    color: #007bff;
    background-color: transparent;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.95);
    display: none;
    z-index: 1001;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.dropdown-submenu .dropdown-item {
    font-size: 18px;
    padding: 10px;
}*/

.carousel .list .item .content .title,
.carousel .list .item .content .description,
.carousel .list .item .content .tel .svg ,
.carousel .list .item .content .tel span,
.carousel .list .item .content .button{
  transform: translateY(150px);
  filter:blur(20px);
  opacity: 0;
  animation: showContent 0.5s ease-out 1 forwards;
}
@keyframes showContent{
  to{
    transform: translateY(0px);
    filter:blur(0);
    opacity: 1;
  }
}
.carousel .list .item .content .title{
    animation-delay: .3s;
}
.carousel .list .item .content .description{
    animation-delay: .4s;
}
.carousel.next .list .item:nth-child(3) img {
  width: 200px;
  height: 300px;
  position: absolute;
  left: 50%;
  bottom: -20%;
  z-index: 0;
  animation: outPicture 0.5s linear 1 forwards;
}

@keyframes outPicture{
  to{
    width: 100%;
    height: 100%;
    left:0;
    bottom: 0%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.carousel.next .thumbnail{
  transform: translateX(200px); 
  animation: moveThumbnail .5s linear 1 forwards;
}
@keyframes moveThumbnail{
  to{
    transform: translateX(0);
  }
}

.carousel.next .thumbnail .item:nth-last-child(1){
width: 0px;
overflow: hidden;
height: 300px;
opacity: 0;
animation: moveThumbnailitems .5s linear 1 forwards;
}

.carousel.prev .list .item:nth-child(2) img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom:0;
  z-index: 3;
  animation: leavePicture 0.5s linear 1 forwards;
}
.carousel.prev .thumbnail .item:nth-child(1){
  width: 0;
  overflow: hidden;
  animation: moveThumbnailitems .5s linear 1 forwards;
} 
.carousel.prev .thumbnail{
  transform: translateX(-200px); 
  animation: moveThumbnail .5s linear 1 forwards;
}

@keyframes moveThumbnailitems{
  to{
    width: 200px;
    height: 300px;
    opacity: 1;
  }
}
@keyframes moveThumbnail{
  to{
    transform: translateX(0);
  }
}
@keyframes leavePicture{
  to{
  width: 200px;
  height: 300px;
  position: absolute;
  left: 30%;
  bottom:-20%;
  }
}
/* ========== GLOBAL CONTAINERS ========== */
main > .container {
  padding: 0;
}

.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
  max-width: 100%;
}

/* ========== HEADER ========== */
.header {
  background-color:transparent;
}
.header.scrolled{
  background-color:var(--indigoblue);
}
.logoBuketov{
  display: none;
}
.dropdown-toggle-header{
  border: none;
  background: var(--indigoblue);
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  position: relative;
  z-index: 10001;
}
.dropdown-toggle-header img{
  transform: rotate(0);
  transition: all 1s;

  animation: CloseRotateIcon 1s linear 1 forwards;

}
@keyframes CloseRotateIcon{
  to{
    transform: rotate(180deg);
  }
}
.dropdown-toggle-header img.rotate {
  animation: rotateIcon 1s linear 1 forwards;
}

@keyframes rotateIcon {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.dropdown-menu-header.active{
  display: flex;
  flex-direction: column;
  justify-content:start;
  gap:10px;
}
.dropdown-menu-header{
  position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: var(--indigoblue);
    display: none; /* Скрыто по умолчанию */
    justify-content: center;
    z-index: 1000;
}
.dropdown-menu-header img{
  margin-inline-start: 30px;
}
.dropdown-main-flex{
  height: 80%;
}
/*Dropdown-main-menu Role*/
.dropdown-menu-header.active .dropdown-main-menu{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px #fff solid;
}
.dropdown-menu-header.active .dropdown-main-menu button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  gap: 20px;
  background-color: transparent;
  border: none;
  color: var(--white);
  width: 100%;
    font-family: sans-serif ;
  font-weight: bold;
  padding: 0 20px;
  font-size: var(--font-28);
}
.dropdown-menu-header.active .dropdown-main-menu button:hover{
  color: rgb(255, 255, 255);
  transition: 0.3s;
  transform: scale(1.01);
  text-shadow:
  1px 1px 0 grey,
  1px 2px 0 grey,
  2px 4px 10px rgba(0, 0, 0, 0.5),
  2px 4px 15px rgba(128, 128, 128, 0.7);

}
.dropdown-menu-header.active .dropdown-submenus{
  width: 30%;
  border-right: 1px #fff solid;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

}
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.university-info,
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.incoming  , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.student  , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.faculties  , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.graduate  , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.science  , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.international-cooperation  {
  display: none;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
}
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.university-info.active,
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.incoming.active  , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.student.active  , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.faculties.active  , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.graduate.active  , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.science.active  , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.international-cooperation.active  {
  display: flex;
}
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.university-info a ,
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.incoming a , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.student a , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.faculties a , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.graduate a , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.science a ,
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.science button, 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.international-cooperation a 

{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  width: 100%;
  font-family: sans-serif ;
  font-weight: bold;
  padding: 0 20px;
  font-size: var(--font-18);
  /* white-space: nowrap; */
  font-family: sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  border:none;
  background-color: transparent;
  text-decoration: none;
  text-align: left;
}
.dropdown-menu-header.active .dropdown-submenus  .dropdown-submenu.university-info a:hover ,
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.incoming a:hover , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.student a:hover , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.faculties a:hover , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.graduate a:hover , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.science a:hover , 
.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.science button:hover, 

.dropdown-menu-header.active .dropdown-submenus .dropdown-submenu.international-cooperation a:hover {
  transition: 0.3s;
  transform: scale(1.01);
  text-shadow:
  1px 1px 0 grey,
  1px 2px 0 grey,
  2px 4px 10px rgba(0, 0, 0, 0.5),
  2px 4px 15px rgba(128, 128, 128, 0.7);


}
.dropdown-menu-header.active  .dropdown-menu-social {
display: flex;
flex-direction: column;
width: 30%;
gap: 10%;
height: 100%;
padding-inline-start: 20px;
}
.dropdown-menu-header.active  .dropdown-menu-social p{
  font-family: sans-serif ;
  font-weight: bold;
  padding: 0 0px;
  font-size: var(--font-22);
}
.dropdown-menu-header.active  .dropdown-menu-social .researchCenter,
.dropdown-menu-header.active  .dropdown-menu-social .DissertationCouncil ,
.dropdown-menu-header.active  .dropdown-menu-social .CompetitionsAndGrands,
.dropdown-menu-header.active  .dropdown-menu-social .Conferences,
.dropdown-menu-header.active  .dropdown-menu-social .ResearchJobStudent


 {
  display: none;
}
.dropdown-menu-header.active  .dropdown-menu-social .ResearchJobStudent .ResearchJobStudent-2024,
.dropdown-menu-header.active  .dropdown-menu-social .ResearchJobStudent .ResearchJobStudent-2023,
.dropdown-menu-header.active  .dropdown-menu-social .ResearchJobStudent .ResearchJobStudent-2022,
.dropdown-menu-header.active  .dropdown-menu-social .ResearchJobStudent .ResearchJobStudent-2021{
  display: none;
}
.dropdown-menu-header.active  .dropdown-menu-social .ResearchJobStudent .ResearchJobStudent-2024.active,
.dropdown-menu-header.active  .dropdown-menu-social .ResearchJobStudent .ResearchJobStudent-2023.active,
.dropdown-menu-header.active  .dropdown-menu-social .ResearchJobStudent .ResearchJobStudent-2022.active,
.dropdown-menu-header.active  .dropdown-menu-social .ResearchJobStudent .ResearchJobStudent-2021.active{

    display: flex;
    flex-direction: column;
    align-items: start;
    color: var(--white);
    width: 100%;
    padding: 20px;
    transition: 0.3s;
    gap: 20px;
    background-color: var(--indigoblue);
    border:1px var(--white) solid;
    border-radius: 20px;

}
.dropdown-menu-header.active  .dropdown-menu-social .ResearchJobStudent .ResearchJobStudent-2024.active a,
.dropdown-menu-header.active  .dropdown-menu-social .ResearchJobStudent .ResearchJobStudent-2023.active a,
.dropdown-menu-header.active  .dropdown-menu-social .ResearchJobStudent .ResearchJobStudent-2022.active a,
.dropdown-menu-header.active  .dropdown-menu-social .ResearchJobStudent .ResearchJobStudent-2021.active a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  font-size: var(--font-16);
  font-family: sans-serif;
  color: var(--white);
  font-weight: var(--font-700);
}
.dropdown-menu-header.active  .dropdown-menu-social.researchCenter p , 
.dropdown-menu-header.active  .dropdown-menu-social.researchCenter .social,
.dropdown-menu-header.active  .dropdown-menu-social.DissertationCouncil p , 
.dropdown-menu-header.active  .dropdown-menu-social.DissertationCouncil .social ,
.dropdown-menu-header.active  .dropdown-menu-social.CompetitionsAndGrands p ,
.dropdown-menu-header.active  .dropdown-menu-social.CompetitionsAndGrands .social,
.dropdown-menu-header.active  .dropdown-menu-social.Conferences p,
.dropdown-menu-header.active  .dropdown-menu-social.Conferences .social,
.dropdown-menu-header.active  .dropdown-menu-social.ResearchJobStudent p,
.dropdown-menu-header.active  .dropdown-menu-social.ResearchJobStudent .social


{
 display: none;
}
.dropdown-menu-header.active  .dropdown-menu-social.researchCenter .researchCenter,
.dropdown-menu-header.active  .dropdown-menu-social.DissertationCouncil .DissertationCouncil ,
.dropdown-menu-header.active  .dropdown-menu-social.CompetitionsAndGrands .CompetitionsAndGrands ,
.dropdown-menu-header.active  .dropdown-menu-social.Conferences .Conferences ,
.dropdown-menu-header.active  .dropdown-menu-social.ResearchJobStudent .ResearchJobStudent

{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;

}
.dropdown-menu-header.active  .dropdown-menu-social.researchCenter .researchCenter a,
.dropdown-menu-header.active  .dropdown-menu-social.DissertationCouncil .DissertationCouncil a,
.dropdown-menu-header.active  .dropdown-menu-social.CompetitionsAndGrands .CompetitionsAndGrands a,
.dropdown-menu-header.active  .dropdown-menu-social.Conferences .Conferences a,
.dropdown-menu-header.active  .dropdown-menu-social.ResearchJobStudent .ResearchJobStudent button 

{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  width: 100%;
  font-family: sans-serif;
  padding: 0 20px;
  font-size: var(--font-16);
  font-family: sans-serif;
  transition:0.3s;
  text-decoration:none;
  border: none;
  background-color: transparent;
}


.dropdown-menu-header.active  .dropdown-menu-social.researchCenter .researchCenter a:hover,
.dropdown-menu-header.active  .dropdown-menu-social.DissertationCouncil .DissertationCouncil a:hover ,
.dropdown-menu-header.active  .dropdown-menu-social.CompetitionsAndGrands .CompetitionsAndGrands a:hover,
.dropdown-menu-header.active  .dropdown-menu-social.Conferences .Conferences a:hover,
.dropdown-menu-header.active  .dropdown-menu-social.ResearchJobStudent .ResearchJobStudent button:hover

{
  transition: 0.3s;
  transform: scale(1.01);
  text-shadow:
  1px 1px 0 grey,
  1px 2px 0 grey,
  2px 4px 10px rgba(0, 0, 0, 0.5),
  2px 4px 15px rgba(128, 128, 128, 0.7);
}


.dropdown-menu-header.active  .dropdown-menu-social .social{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10%;
}
.nav-link {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-family: var(--second-family), sans-serif;
  padding-block: 0 ;
}
 body {
        font-family: var(--second-family), sans-serif; /* Используем переменную шрифта */
    }


.nav-link:hover {
  color: #ffff00; /* цвет при наведении */
}
/* ========== FIRST BLOCK ========== */
.first-block {
  /* background:  
    linear-gradient(to bottom, rgba(15, 33, 71, 0.73)  0%, rgba(7, 35, 72, 0.73) 40%, rgba(0, 0, 0, 0) 100%),
    url(/bg-images/first-block-bg.png) no-repeat center center; */
  background-size: cover;
  /* min-height: 600px; */
  max-height: 100vh;
  /* padding: 150px 50px; */
  /* position: sticky; */
  top: 0;
  z-index: 0;
}
.first-block-half{
  background: linear-gradient(to right,#405e89 50%,#405e896c 100%);
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 50vw;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.first-block.overly{
  position: absolute;
  top:0;
  width: 100%;
  /* -height: 600px; */
  min-height: 100vh;
  /* background: linear-gradient(to bottom, rgba(15, 33, 71, 0.73) 0%, rgba(7, 35, 72, 0.73) 40%, rgba(0, 0, 0, 0) 100%);*/
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.36) 5%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}


/* ========== SECOND BLOCK ========== */

/* ========== CARD STYLES ========== */
.col {
  transition: transform 1s;
  filter: blur(0px);
}
.additional-links{
  gap:1%;
  min-height: 300px;
  position: relative;
  top: -150px;
}

.additional-links-text{
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  
}
/* .additional-links-item{
  width: 100%;
} */
.col:hover {
  transform: scale(1.2);
  filter: blur(0px);
  z-index: 3;
}

.row:has(.col:hover) .col:not(:hover) .card {
  filter: blur(4px);
  transform: scale(1);
  z-index: 0;
}



.card-additional-links {
  background: url(/bg-images/additional-links-bg.jpg) no-repeat;
  background-size: cover;
  border: 1px var(--white) solid;
  border-radius: 20px;
  padding-block: 20px;
  background-color: transparent;
}

.card-blur-bg {
  border-radius: 20px;
  position: absolute;
  inset: 0;
  background: url('/bg-images/additional-links-bg.jpg') center/cover no-repeat;
  filter: blur(8px);
  z-index: 1;
}

.card-body {
  z-index: 2;
}

/* ========== THIRD BLOCK ========== */

/* ========== BLOCK HEADER ========== */
.block-header {
  background-color: var(--indigoblue);
  color: var(--white);
  border-radius: 50px;
}

.block-header p {
  margin: 0;
  padding-block: 5px;
  font-weight: var(--font-700);
  font-size: var(--font-36);
  color:var(--white);
}
.university-branding {
  padding: 2rem;
  color: white; /* Индиго стиль */
  border-radius: 20px;
  max-width: 100%;
  margin: 2rem auto;
}

.university-name {
  font-size: 6em;
  line-height: 70px;
  font-weight: bold;
  margin: 0.5rem 0;
  letter-spacing: 1px;
}

.university-motto {
  font-size: 1.2rem;
    font-family: sans-serif, sans-serif; ;
  margin: 0.5rem 0;
}

.university-year {
  font-size: 1rem;
  color: #ccc;
  margin-top: 0.5rem;
    font-family: sans-serif, sans-serif; ;

}

/* ========== ADMISSION ========== */
.admission-slider-buttons {
  width: 100%;
  gap: 2%;
}

.admissionBtnLeft,
.admissionBtnRight {
  background-color: transparent;
  padding-block: 10px;
  border: 1px solid var(--indigoblue);
  width: 49%;
  transition: transform 1s ease;
  border-radius: 50px;
  font-size: var(--font-24);
  font-weight: var(--font-700);
  color: var(--indigoblue);
}

.admissionBtnLeft.active,
.admissionBtnRight.active {
  color: var(--white);
  border: none;
}

.admission-btn-bg {
  background-color: var(--indigoblue);
  position: absolute;
  z-index: -1;
  border-radius: 50px;
  transition: transform 1s ease, border-radius 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.admission-btn-bg.animate-left {
  border-radius: 150px 0 0 150px;
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.admission-btn-bg.animate-right {
  border-radius: 0 150px 150px 0;
  transform: scale(1.05) rotate(-5deg);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.admission-move {
  transition: transform 1s ease;
  width: 200%;
}

.admission-slider-first-part {
  gap: 3%;
  padding-block: 2%;
}

/* ========== ICON BOX ========== */
.box-icon {
  background: var(--sand);
  border-radius: 100%;
  padding: 15px;
}

.box-icon img{
width: 51px;
height: 51px;
}
/* ========== EDUCATION TEXT ========== */
.edu-title {
  font-size: var(--font-22);
  font-weight: var(--font-700);
  color: var(--indigoblue);
  font-family: var(--font-heading);
}

.edu-text {
  font-size: var(--font-14);
  color: var(--gray);
  font-family: var(--font-main);
  font-weight: var(--font-400);
  width: 90%;
}

.second-block,.third-block,.fourth-block , .fifth-block,.sixth-block,.seventh-block{
    position: relative;
    z-index: 999;
    background: var(--white);
    overflow: hidden;

}
.news-item{
    overflow: hidden;
    height: 200px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.news-item .card.shadow-sm, .card.shadow-sm video{
  border-radius: 20px;
  height: 100%;
  width: 100%;
  background: #090827;
}
.news-item:hover .news-text{
display:none;
}
.news-text{
  display:none;
}
.upcoming-event-item {
  /* При необходимости можно добавить отступы или другие стили */
}

.calendar-card {
  position: relative;
  width: 100%;
  height: 300px;
  transition: transform 0.3s ease; /* плавная анимация */
  display: flex;
  align-items: center;
  justify-content: center;
}


.calendar-bg {
  background: url('/bg-images/upcoming-event-bg.png') no-repeat center top;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0px;

}

.calendar-content {
  position: relative;
  z-index: 1;
  padding: 20px 0 10px 0;
  text-align: center;
  width: 100%;
  background: var(--white);
  border-left: 10px solid #bcbec0;
  border-right: 10px solid #bcbec0;
  border-bottom: 10px solid #bcbec0;
  border-radius: 40px;
  box-sizing: border-box;
}

.calendar-content p {
  margin: 0;
}

.upcoming-event-day {
  font-weight: 700;
  font-size: var(--font-96);
  text-align: center;
  color: var(--darkblue);
  line-height: 100px;
}
.upcoming-event-month{
  font-weight: 700;
  font-size: var(--font-24);
  line-height: 87%;
  text-align: center;
  color: var(--darkblue);
}
.upcoming-event-time{
  font-weight: 300;
  font-size: var(--font-16);
  text-align: center;
  color: var(--gray);
}
.upcoming-event-title{
  font-style: italic;
  font-weight: 300;
  font-size: var(--font-16);
  text-align: center;
  color: var(--gray);
}
.upcoming-event-text{
  display: none;
}


/* ========== SIXTH BLOCK - BLOCK RECTOR ========== */
.block-rector{
  margin-top: 200px;
}
.box-img-rector{
  position: relative;
   margin-right: 5%;
  
}
.box-img-rector img{
 position: absolute;
  bottom: -20px;
  transition: 0.5s all;

}
/* .box-img-rector:hover{
  position: relative;
  background: var(--indigoblue);
  border-radius: 50px;
  width: 30%;
  height: 300px;
  transition: all 1s;
} */
/* .box-img-rector:hover img{
  position: absolute;
  bottom: -20px;
  transition: 0.5s all;
  transform: skewX(0deg);

} */
.skewX{
 background: var(--indigoblue);
  border-radius: 50px;
  width: 90%;
  height: 300px;
  transition: 0.5s all;
}
.box-img-rector:hover .skewX{
  transform: skewX(20deg);
  

}
.box-img-rector:hover img{
  transform: scale(1.1);
  bottom: 0px;
  left: 120px;
  filter: drop-shadow(-7px 1px 17px);
}

.name-rector{
  font-weight: var(--font-700);
  font-size: 4em;
  line-height: 100%;
  color: var(--indigoblue);
    font-family: sans-serif, sans-serif;
}
.rector-position{
  font-style: italic;
  font-weight: 400;
  font-size: var(--font-20);
  line-height: 67%;
  color: var(--gray);
}
.rector-text{
  font-style: italic;
  font-weight: 400;
  font-size: var(--font-16);
  line-height: 122%;
  color: var(--gray);
}

/* ========== EIGHTH BLOCK - BLOCK SMI ========== */
.block-smi{
  gap:30px;
}
.smi-logo-buketov{
  width: 63px;
  height: 63px;
  position: absolute;
  top: -30px;
  left: 40%;
  z-index: 999;
}
/* ========== FOOTER ========== */
.footer {
  background-color: var(--indigoblue);
  font-size: var(--font-14);
  padding: 100px;
  position: relative;
  margin-top: 100px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* ========== MISC ========== */
.not-set {
  color: var(--yellow);
  font-style: italic;
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: var(--gray);
}

.error-summary {
  color: #a94442;
  background: var(--white);
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.nav li > form > button.logout {
  padding-top: 7px;
  color: rgba(255, 255, 255, 0.5);
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
  outline: none;
}

.form-group {
  margin-bottom: 1rem;
}

/* ========== MEDIA QUERIES ========== */
@media (max-width: 576px) {
   main,.footer {
    display: none !important;
  }
  .container-sm, .container {
    max-width: 576px;
  }
  .first-block {
     display: none !important;

  }
  .block-header {
    border-radius: 0;
  }
  .box-icon {
    display: none !important;
  }
  .block-rector{
  flex-direction: column;

}
.name-rector{
  line-height: 100%;
  text-align: center;
}
}

@media (max-width: 768px) {
    main,.footer {
       display: none !important;

  }
  .container-md, .container-sm, .container {
    max-width: 768px;
  }
  .first-block {
    height: 100%;
    padding: 150px 20px;
  }
  .first-block .col-md-10 img {
    width: 90%;
  }
  .align-items-stretch {
    padding-inline: 10%;
  }
  .block-header {
    border-radius: 0;
  }
  .box-icon {
    display: none !important;
  }
  .block-rector {
flex-direction: column;

}
.name-rector,.rector-text,.rector-position{
  line-height: 100%;
  text-align: center;
}
}

@media (max-width: 992px) {
    main,.footer {
    display: none;
  }
  .container-lg, .container-md, .container-sm, .container {
    max-width: 992px;
  }
  .box-icon {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1200px;
  }
  .calendar-bg{
    top:15px;
  }
 
  /* .box-icon {
    display: none !important;
  } */
}

@media(min-width:1200px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 100%;
  }
  .additional-links-item{
  width: 32.333%;
}
}